# 자료구조와 알고리즘

* 자료구조 : 요리의 재료 + 다듬는 법, 자료를 효율적으로 관리하는 방법
* 알고리즘 : 요리법, 목적지까지 최적의 이동경로를 찾는 방법
* 자료구조의 종류
    * 단순 자료구조 : 정수, 실수, 문자 문자열
    * 파일 자료구조 : 순차파일, 색인파일, 직접 파일 (단순 자료구조와 파일 자료구조는 프로그래밍 언어에서 다루기에 자료구조에서는 선형 / 비선형만 배우면 됨)
    * 선형 자료구조
        * 리스트
        * 스택
        * 큐
    * 비선형 자료구조
        * 트리
        * 그래프

## 1. 선형리스트
* 데이터를 일정한 순서로 나열한 자료구조
* 순차 리스트라고 함
* 입력 순서대로 지정하는 데이터에 적당함
* 데이터는 붙어있으며, 빈칸을 허용하지 않음
* 단점 : 데이터의 삽입/삭제 시 오버헤드 발생
    * 삽입 / 삭제가 별로 없는 데이터에 많이 사용됨 
* 장점 : 데이터의 공간 낭비가 없고 접근이 빠름

In [22]:
##데이터가 5개인 선형 리스트 생성
##카톡이 온 횟수대로 데이터 저장
katok = ['다현', '정연', '쯔위', '사나', '지효']
print(katok)

['다현', '정연', '쯔위', '사나', '지효']

In [23]:
print(katok[0]) #가장 많이 카톡을 보낸 사람, 1등이 아닌 특등으로 지정
print(katok[4]) #가장 적게 카톡을 보낸 사람

다현
지효

### 데이터 추가

In [24]:
##데이터 추가
#1. 선형 리스트에 빈칸을 추가
katok.append(None)
#2. 추가한 빈칸에 모모(새로 추가할 데이터) 데이터를 삽입
katok[-1] = '모모'
#3. 결과 확인하기
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모']

### 데이터 삽입

In [25]:
##데이터 삽입 (중간에 삽입)
#'미나' 데이터를 3등 자리에 삽입하기
#1. 빈칸을 추가
katok.append(None)
len(katok)

7

In [26]:
#2. 3등 데이터 자리가 빈칸이 될때까지 각 값을 한 자리씩 뒤로 미룬다
katok[6] = katok[5]
katok[5] = None

katok[5] = katok[4]
katok[4] = None

katok[4] = katok[3]
katok[3] = None


#3. 3등 데이터 자리가 비면 그 자리에 미나 데이터를 삽입하기
katok[3] = '미나'
print(katok)

['다현', '정연', '쯔위', '미나', '사나', '지효', '모모']

### 데이터 삭제

In [27]:
##데이터 삭제 (중간 데이터 삭제), 4등 '사나' 삭제하기
#1. 삭제하고자 하는 자리의 데이터를 삭제하고 빈칸으로 만든다
katok[4] = None
print(katok)

['다현', '정연', '쯔위', '미나', None, '지효', '모모']

In [28]:
#2. 빈칸을 없애기 위해 빈칸 뒤에 있는 데이터를 모두 한 칸씩 앞으로 옮긴다.
katok[4] = katok[5]
katok[5] = None

katok[5] = katok[6]
katok[6] = None

print(katok)

['다현', '정연', '쯔위', '미나', '지효', '모모', None]

In [29]:
#3. 마지막 자리에 남는 빈칸 하나를 삭제한다.
del(katok[6])
print(katok)

['다현', '정연', '쯔위', '미나', '지효', '모모']

### 배열을 이용한 선형 리스트의 생성

In [36]:
# 배열 생성
katok = []

# 첫번째 데이터 입력
katok.append(None)
katok_len = len(katok)
katok[katok_len-1] = '다현' #새로운 데이터 입력
print(katok)

['다현']

In [37]:
# 두번째 데이터 입력
katok.append(None) # 데이터가 들어갈 빈 칸을 만듦
katok_len = len(katok) #배열의 길이 확인
katok[katok_len - 1] = '정연' #배열의 마지막 자리에 데이터 입력
print(katok)

['다현', '정연']

In [38]:
###함수로 선형리스트 생성 구현하기
katok = []
def add_data(data):
    katok.append(None)
    katok_len = len(katok)
    katok[katok_len - 1] = data

add_data('다현')
add_data('쯔위')
add_data('사나')
add_data('지효')
add_data('정연')

print(katok)

['다현', '쯔위', '사나', '지효', '정연']

### 선형리스트 일반구현 : 데이터 삽입 (중간데이터 삽입)

In [39]:
katok

['다현', '쯔위', '사나', '지효', '정연']

In [40]:
#2등 자리에 '솔라' 데이터 넣기
#빈 칸 생성
katok.append(None)
print(katok)

['다현', '쯔위', '사나', '지효', '정연', None]

In [41]:
#2등 자리가 빈 칸이 될 때까지 한 칸씩 뒤로 미루기
katok_len = len(katok)
position = 2
for i in range(katok_len-1, position, -1): #해당 배열의 마지막 위치 katok_len - 1 에서 목표 위치 position 까지 역순으로 range 실행
    katok[i] = katok[i-1] #한 칸씩 뒤로 밀리기
    katok[i-1] = None #마지막에 katok[positon] = None이 되어 해당 position은 빈 칸이 된다.

katok[position] = '솔라'
print(katok)

['다현', '쯔위', '솔라', '사나', '지효', '정연']

### 선형 리스트 일반구현 : 데이터 삽입 (맨 끝에 삽입)

In [42]:
#맨 끝에 '문별' 데이터 삽입하기
#맨 끝에 빈 칸 추가
katok.append(None)

katok_len = len(katok)

In [45]:
position = katok_len - 1 #마지막 칸 위치

#빈 칸에 데이터 삽입하기
for i in range(katok_len-1, position, -1): #katok_len = position 이기에 작동하지 않음
    katok[i] = katok[i-1] 
    katok[i-1] = None 
katok[-1] = '문별'

print(katok)

['다현', '쯔위', '솔라', '사나', '지효', '정연', '문별']

### 함수로 선형리스트 데이터 삽입 구현하기

In [47]:
def insert_data(position, friend):
    if position <0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다.')
        return
    
    katok.append(None) #빈칸 추가
    katok_len = len(katok) #배열의 전체 크기
    
    for i in range(katok_len - 1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
        #목표위치가 빈칸이 될 때까지 한 칸씩 뒤로 옮기기
    
    katok[position] = friend #빈칸이 된 목표위치에 원하는 데이터 입력하기
    
insert_data(3, '휘인')
print(katok)
insert_data(3, '화사')
print(katok)

['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연', '문별']
['다현', '쯔위', '솔라', '화사', '휘인', '사나', '지효', '정연', '문별']

### 선형 리스트의 일반 구현 : 데이터 삭제 (중간 데이터 삭제)

In [72]:
katok = ['다현', '쯔위', '솔라', '화사', '휘인', '사나', '지효', '정연', '문별']

#목표 위치 데이터 빈칸으로 만들기
position = 3
katok[position] = None
print(katok)

['다현', '쯔위', '솔라', None, '휘인', '사나', '지효', '정연', '문별']

In [73]:
katok_len = len(katok)

#한 칸씩 앞으로 옮기기
for i in range(position + 1, katok_len):
    katok[i-1] = katok[i]
    katok[i] = None

print(katok)

['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연', '문별', None]

In [74]:
#맨 뒤에 남은 빈칸 삭제하기
del(katok[-1])
print(katok)

['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연', '문별']

#### 선형 리스트의 일반 구현 : 데이터 삭제 (마지막 데이터 삭제)

In [88]:
katok = ['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연', '문별']
katok_len = len(katok)
position = len(katok) - 1

print(position)

7

In [89]:
katok[position] = None
print(katok)

['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연', None]

In [90]:
for i in range(position+1, katok_len):
    katok[i-1] = katok[i]
    katok[i] = None

print(katok)

['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연', None]

In [91]:
del(katok[-1])
print(katok)

['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연']

####

#### 선형 리스트의 일반 구현 데이터 삭제, 함수로 구현하기

In [92]:
def delete_data(position):
    katok[position] = None #postion 위치 데이터 삭제하기
    k_len = len(katok)
    
    for i in range(position + 1, k_len):
        katok[i-1] = katok[i] #한칸씩 앞으로 옮기기
        katok[i] = None 
    
    del(katok[-1])


katok = ['다현', '쯔위', '솔라', '휘인', '사나', '지효', '정연', '문별']
delete_data(3)
print(katok)
delete_data(3)
print(katok)

['다현', '쯔위', '솔라', '사나', '지효', '정연', '문별']
['다현', '쯔위', '솔라', '지효', '정연', '문별']

### 선형 리스트 데이터 추가/ 삽입/ 삭제 함수의 완성

In [96]:
###함수 선언부
def add_data(friend):
    katok.append(None)
    katok_len = len(katok)
    katok[katok_len - 1] = friend

def insert_data(position, friend):
    if position <0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다.')
        return
    
    katok.append(None) #빈칸 추가
    katok_len = len(katok) #배열의 전체 크기
    
    for i in range(katok_len - 1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
        #목표위치가 빈칸이 될 때까지 한 칸씩 뒤로 옮기기
    
    katok[position] = friend #빈칸이 된 목표위치에 원하는 데이터 입력하기    

def delete_data(position):
    katok[position] = None #postion 위치 데이터 삭제하기
    katok_len = len(katok)
    
    for i in range(position + 1, katok_len):
        katok[i-1] = katok[i] #한칸씩 앞으로 옮기기
        katok[i] = None 
    
    del(katok[-1])
    
###변수 선언부
katok = []
select = -1

###메인 코드 부분
if __name__ == "__main__":
    while (select != 4):
        select = int(input("선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->"))
        if (select == 1):
            friend = input('추가할 친구 이름을 입력하세요 :')
            add_data(friend)
            print(katok)
        
        elif (select == 2):
            position = int(input("입력할 위치를 입력하세요. 순서는 0부터 시작입니다.:"))
            friend = input("삽입할 친구 이름을 입력하세요 :")
            insert_data(position, friend)
            print(katok)
            
        elif (select == 3):
            position = int(input('삭제할 위치를 입력하세요. 순서는 0부터 시작입니다.:'))
            delete_data(position)
            print(katok)
        
        elif (select == 4):
            print(katok)
            exit
        
        else:
            print('1~4 중 하나를 입력하세요')
            continue

선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->1
추가할 친구 이름을 입력하세요 :다현
['다현']
선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->1
추가할 친구 이름을 입력하세요 :정연
['다현', '정연']
선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->1
추가할 친구 이름을 입력하세요 :쯔위
['다현', '정연', '쯔위']
선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->2
입력할 위치를 입력하세요. 순서는 0부터 시작입니다.:1
삽입할 친구 이름을 입력하세요 :하나
['다현', '하나', '정연', '쯔위']
선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->2
입력할 위치를 입력하세요. 순서는 0부터 시작입니다.:0
삽입할 친구 이름을 입력하세요 :문별
['문별', '다현', '하나', '정연', '쯔위']
선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->3
삭제할 위치를 입력하세요. 순서는 0부터 시작입니다.:3
['문별', '다현', '하나', '쯔위']
선택하세요(1:추가, 2:삽입, 3:삭제, 4:종료)-->4
['문별', '다현', '하나', '쯔위']